# exclude compiled binaries and external models
/bin
*.pyc

# exclude data from source control by default
/data/temp
/data/processed
/data/raw

# MacOS
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints